    body {
        font-family: sans-serif;
        background-color: #FAECA9;
        padding: 0%;
        margin: 0%;
    }

    .top-bar {
        font-size: 1em;
        text-align: center;
        color: white;
        width: 100%;
        background-color: #8E2EC2;
    }
    .list {
        font-size: 1.5em;
        margin-left: 20%;
        margin-right: 20%;
    }
    .accessories {
        text-align: center;
    }
    .dialog {
        color: blue;
        text-align: center;
    }
    img {
        width: 30px;
        opacity: 0.1;
    }
    img:hover {
        opacity: 1;
    }
	.status0 {
		color: black
	}
	.status1 {
		color: purple
	}
	.status2 {
		color: green
	}
	.status3 {
		color: red
	}
	.display {
		opacity: 1;
	}
	